# Canonical -> Old variants (authors/committers)
Peter Oluwatimilehin <peterolu.ds@gmail.com>  Peter Oluwatimilehin <snook@SNOOKS4TECH.localdomain>
# If this odd variant ever appears, collapse it too:
Peter Oluwatimilehin <peterolu.ds@gmail.com>  Peter OluwatimilehinPeter Oluwatimilehin
