// =====================
// nextflow.config
// =====================

// ---- Default parameters ----
params.reads           = "../assets/reads/demo_R{1,2}.fastq.gz"
params.reference_fasta = "../assets/ref/miniref.fa"
params.truth_vcf       = "../assets/giab/chrMock_truth.vcf.gz"
params.confident_bed   = "../assets/giab/chrMock_confident.bed"
params.outdir          = "./results"

// ---- Global process defaults ----
process {
  executor = 'local'
  cpus     = 1
  memory   = '1 GB'
}

// ---- Profiles ----
profiles {

  //
  // Local dev: everything on the laptop
  //
  local {
    process {
      executor = 'local'
      cpus     = 1
      memory   = '1 GB'
    }
  }

  //
  // AWS Batch Fargate profile
  //
  awsbatch_fg {

    //
    // Default process settings when this profile is active
    //
    process {
      executor  = 'awsbatch'
      queue     = 'pp-queue-fg'
      container = 'ubuntu:22.04'
      cpus      = 1
      memory    = '2 GB'
      shell     = ['/bin/bash','-ue']
      // NOTE: no beforeScript here – Fargate + Wave will handle s5cmd
    }

    //
    // AWS + Fargate wiring
    //
    aws {
      region = 'eu-west-2'

      batch {
        // Tell Nextflow this is a Fargate CE
        platformType = 'fargate'

        // Job + execution roles – taken from environment variables if set
        jobRole       = System.getenv('BATCH_JOB_ROLE_ARN')
        executionRole = System.getenv('BATCH_EXEC_ROLE_ARN')
      }
    }

    //
    // Wave: required for Fargate so Nextflow can use s5cmd for S3 I/O
    //
    wave {
      enabled = true
    }
  }
}
