manifest {
  name            = 'portable-precision-giab-parity'
  nextflowVersion = '>=23.10.0'
}

params {
  reads           = "${baseDir}/../assets/reads/*_{R1,R2}.fastq.gz"
  outdir          = "${baseDir}/../results"
  reference_fasta = "${baseDir}/../assets/ref/miniref.fa"
}

profiles {
  standard {
    process.executor = 'local'
  }
  docker {
    process.executor = 'local'
    docker.enabled   = true
    docker.runOptions = '-u $(id -u):$(id -g)'
  }
}

params {
  reference_fasta = "${baseDir}/../assets/ref/miniref.fa"
}
