plugins {
  id 'nf-amazon'
}

profiles {
  awsbatch_ec2 {
    workDir = 's3://portable-precision-peterhds-eu2/work'
    aws.region = 'eu-west-2'
    aws.batch.queue = 'pp-queue-ec2'   // keep this
    docker.enabled = true

    process {
      executor = 'awsbatch'
      queue    = 'pp-queue-ec2'        // <-- force the queue here
    }
  }
}
